{% extends 'restaurant/home.html' %}

{% block head %}

<style>
    .card{
        margin-left: 27px;
        margin-top: 40px;
    }
    #button{
        margin-left: 480px;
    }
    h2{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        color: rgb(66, 150, 245);
        
    }
    
    </style>
    
{% endblock %}

{% block sidebar %}

</div>
</div>
<div class="navbar-nav w-100">
    <a href="{% url 'restaurant:home' %}" class="nav-item nav-link "><i class="fa fa-home me-2"></i>Home</a>
    <a href="{% url 'restaurant:orders' %}" class="nav-item nav-link"><i class="fas fa-concierge-bell me-2"></i>Orders</a>
    <a href="{% url 'restaurant:add_category' %}" class="nav-item nav-link "><i class="fa fa-list me-2"></i>Add Category</a>
    <a href="{% url 'restaurant:view_category' %}" class="nav-item nav-link"><i class="fa fa-eye me-2"></i>View Category</a>
    <a href="{% url 'restaurant:add_menu' %}" class="nav-item nav-link active"><i class="fa fa-cutlery me-2"></i>Add Menu</a>
    <a href="{% url 'restaurant:view_menu' %}" class="nav-item nav-link"><i class="fa fa-coffee me-2"></i>View Menu</a>
    <a href="widget.html" class="nav-item nav-link"><i class="fa fa-money me-2"></i>Earnings</a>

    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-gears"></i>Settings</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="signin.html" class="dropdown-item">Sign In</a>
            <a href="signup.html" class="dropdown-item">Sign Up</a>
         
        </div>
    </div>
</div>
</nav>
</div>
<!-- Sidebar End -->

{% endblock %}

{% block content %}

<div class="card" style="width: 66rem;">
    <div class="card-body">

<h2>EDIT MENU</h2>
<form  method="POST" enctype="multipart/form-data">
  
  <div class="row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"><h5>Item Name</h5></label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" placeholder="Item name" name="item_name" value="{{menu.item_name}}">
    </div>
  </div>
  <br>
  <div class="row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"><h5>CATEGORY</h5></label>
    <div class="col-sm-10">
      <select class="form-select" aria-label="Default select example" name="category">
        <option selected>Select category</option>
        {% for item in category %}
        <option value="{{item.id}}" {% if item.id in currnt_catrgory %} selected {% endif %}>{{ item.catg_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <br>
  <div class="row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"><h5>FOOD TYPE</h5></label>
    <div class="col-sm-10">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="food_type" id="inlineRadio1" value="veg">
            <label class="form-check-label" for="inlineRadio1">Veg</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="food_type" id="inlineRadio2" value="non-veg">
            <label class="form-check-label" for="inlineRadio2">Non-veg</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="food_type" id="inlineRadio2" value="egg">
            <label class="form-check-label" for="inlineRadio2">Egg</label>
          </div>
      </div> 
    </div>
  <br>
  <div class="row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"><h5>PRICE</h5></label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg"  placeholder="Item price" name="price" value="{{menu.price}}">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="input-group mb-4" >
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"><h5>IMAGE</h5></label>
      <input type="file" class="form-control" id="inputGroupFile02" name="image">
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>

  </div>
  <br>
  <button type="submit" class="btn btn-primary" id="button">Update</button>
  <br>
  
  {% csrf_token %}
  {{ status }} 

</form>

</div>
</div> 

{% endblock %}