{% extends 'restaurant/home.html' %}
{% block head %}

<STyle>
    .card{
    margin-left: 27px;
    margin-top: 40px;
}
h2{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        color: rgb(66, 150, 245);
}
th{
  text-align: center;
  color: rgb(223, 3, 3);
}
#se_no{
  color: black;
 
}
td{
  font-weight: 700;
  font-size: 17px;
}
</STyle>

{% endblock %}

{% block sidebar %}

</div>
</div>
<div class="navbar-nav w-100">
    <a href="{% url 'restaurant:home' %}" class="nav-item nav-link "><i class="fa fa-home me-2"></i>Home</a>
    <a href="{% url 'restaurant:orders' %}" class="nav-item nav-link"><i class="fas fa-concierge-bell me-2"></i>Orders</a>
    <a href="{% url 'restaurant:add_category' %}" class="nav-item nav-link "><i class="fa fa-list me-2"></i>Add Category</a>
    <a href="{% url 'restaurant:view_category' %}" class="nav-item nav-link active"><i class="fa fa-eye me-2"></i>View Category</a>
    <a href="{% url 'restaurant:add_menu' %}" class="nav-item nav-link"><i class="fa fa-cutlery me-2"></i>Add Menu</a>
    <a href="{% url 'restaurant:view_menu' %}" class="nav-item nav-link"><i class="fa fa-coffee me-2"></i>View Menu</a>
    <a href="widget.html" class="nav-item nav-link"><i class="fa fa-money me-2"></i>Earnings</a>

    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-gears"></i>Settings</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="signin.html" class="dropdown-item">Sign In</a>
            <a href="signup.html" class="dropdown-item">Sign Up</a>
         
        </div>
    </div>
</div>
</nav>
</div>
<!-- Sidebar End -->

{% endblock %}

{% block content %}

<div class="card" style="width: 67rem;">
    <div class="card-body">

 <h2>VIEW CATEGORY</h2>
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">SE_NO</th>
          <th scope="col">CATEGORY</th>
          <th scope="col">DISCRIPTION</th>
          <th scope="col">CHANGES</th>
        </tr>
      </thead>
      <tbody>
        {% for item in category %}
        <tr>
          <th scope="row" id="se_no">{{forloop.counter}}</th>
          <td>{{item.catg_name}}</td>
          <td>{{item.discription}}</td>
          <td>
            <a href= "{% url 'restaurant:edit_category' item.id %}" class="btn btn-primary">Edit</a>
            <a href= "{% url 'restaurant:delete' item.id %}" class="btn btn-warning">Delete</a>
          </td>
        </tr>
        {% endfor %}
        {{ status }}
      </tbody>
  </table>

</div>
</div>

{% endblock %}