{% extends 'customer/home.html' %}

{% block head %}

<style>
    .card-title{
    font-size: 38px;
    font-weight:bold;
    color: var(--greenColor);

   }
   h4{
    color: orangered;
    font-size: 20px;
    font-weight: 700;
  } 
  h6{
    color: green;
  }           
</style>

{% endblock %}

{% block recommend %}
<br>
{% endblock %}

{% block content %}

<div class="card mb-3">
    <div class="card-body">
    <h5 class="card-title">Order History</h5>
     <br>
     <table class="table">
        <thead>
          <tr>
            <th scope="col"><h4>Order Id</h4></th>
            <th scope="col"><h4>Payment Id</h4></th>
            <th scope="col"><h4>Total Price</h4></th>
            <th scope="col"><h4>Status</h4></th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <!-- {% for item in order.orderitem_set.all %} -->

       
            <tr>
                <td>{{order.order_no}}</td>
                <td>{{order.payment_id}}</td>
                <td>{{order.total_amt }}</td>
                <td style="color: gray;">{{order.payment_status}}</td>
                <td>
                  <a href="{% url 'customer:cancel_order' order.id %}"  class="btn btn-info" data-item-id="{{order.id}}">Cancel</a>
                </td>
            </tr>
            <!-- {% endfor %} -->
            {% endfor %}


      
        </tbody>
      </table>
        

    </div>
</div>     

{% endblock %}

{% block script %}

<script>
 
</script>

{% endblock %}

